:root {
  --color1: #05b1b1;
  --color2: #52339a;
}
header,
section,
footer {
  padding: 100px 0;
}
header {
  padding: 200px 0;
}
header,
footer {
  background: url(../img/pattern.png), var(--color1);
  background: url(../img/pattern.png),
    -moz-linear-gradient(left, var(--color1) 0%, var(--color2) 100%);
  background: url(../img/pattern.png),
    -webkit-linear-gradient(left, var(--color1) 0%, var(--color2) 100%);
  background: url(../img/pattern.png),
    linear-gradient(to right, var(--color1) 0%, var(--color2) 100%);
  filter: url(../img/pattern.png),
    progid:
      DXImageTransform.Microsoft.gradient(
        startColorstr=var(--color1),
        endColorstr=var(--color2),
        GradientType=1
      );
  background-size: contain;
}
.itd-play {
  width: 60px;
  height: 60px;
  background: var(--color1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 30px auto;
  transition: all 0.2s ease;
}
.itd-play:hover {
  background: var(--color2);
}
.itd-triangle {
  margin-left: 5px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 0 10px 20px;
  border-color: transparent transparent transparent var(--bs-white);
}
.btn-itd {
  margin: 0 auto;
  display: block;
  max-width: 200px;
  padding: 8px 30px;
  background-color: var(--color2);
  color: var(--bs-white);
}
.btn-itd:hover {
  color: var(--bs-white);
  background: var(--color1);
}
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* o curse */
.about, .programma, .curse {
   background: #eee;
}
.about i {
   font-size: 25px;
   color: var(--color2);
}
.itd-circle {
   margin: 0 auto 15px;
   width: 70px;
   height: 70px;
   border: 3px solid var(--color2);
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
}
.line {
   width: 100px;
   height: 3px;
   background-color: var(--color1);
   margin: 15px auto 30px;
}

/* dlya tex */
.forwhom h5 {
   padding: 40px 50px;
   border: 3px solid var(--color1);
}
/* programma */
.accordion-button:not(.collapsed) {
   color: #fff;
   background-color: var(--color2);
}
.accordion-button:not(.collapsed)::after {
   background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

/* avtore */
.avtore {
   padding-bottom: 0;
}

/* curse */
.curse-img {
   display: block;
   margin: 10px auto;
   border-radius: 50%;
   border: 3px solid var(--color1);
}
.line-2 {
   background-color: var(--color2);
}

/* footer */
footer {
   padding: 40px 0;
}
footer a i {
   color: #fff;
}
footer button {
   width: 40px;
   height: 40px;
   border-radius: 50%;
   border: 1px solid #fff;
   background:0;
   transition: all .3s ease;
}
footer button:hover {
   background: #fff;
}
footer button:hover i {
   color: black;
}

/* color */
.color1 {
   color: var(--color1);
}
.color2 {
   color: var(--color2);
}
.bg1 {
   background-color: var(--color1);
}
.bg2 {
   background-color: var(--color2);
}
